langchain
langchain-core
langchain-community
langchain-text-splitters
sentence-transformers
chromadb
langchain-groq
python-dotenv
qdrant-client
langchain_qdrant
langchain_huggingface
langchain-ollama
tavily-python